@model eBayBookListViewModel
@{
    ViewData["Title"] = "List";
}

<h1>Arbitrage Scraper</h1>

<button type="button" id="startButton" onclick="location.href='@Url.Action("List", "ArbitrageScraper")'">Start  Scrape</button>

<p>Request took: @Model.TimeToCompletion ms</p>

@foreach (var book in Model.Books)
{
    <table style="width:auto">
        <tr>
            <th>Listing Title</th>
            <th>Condition</th>
            <th>Current Bid</th>
            <th>Shipping Price</th>
            <th>Total Price</th>
            <th>ISBN</th>
            <th>URL</th>
        </tr>
        <tr>
            <td>@book.ListingTitle</td>
            <td>@book.Condition</td>
            <td>@book.CurrentBid.ToString("c")</td>
            <td>@book.ShippingPrice.ToString("c")</td>
            <td>@book.TotalPrice.ToString("c")</td>
            <td>@book.ISBN</td>
            <td><a href="@book.Url">URL</a></td>
        </tr>
    </table>
}

